#add-hos .mainbox{
	width: 90%;
	min-width: 1280px;
	margin: 0 auto 100px;
}
#add-hos .topselect{
	width: 100%;
	/* padding: 0 50px; */
}
#add-hos .selectOption{
	width: 100%;
	height: auto;
	font-size: 16px;
	color: #333333;
}
#add-hos .topselect h2,#add-hos .addPeople h2{
	display: inline-block;
	margin: 0;
	line-height: 80px;
	font-size: 25px;
}
#add-hos .addHos,#add-hos .modifyHos,#add-hos .lookAllTrack{
	width: 100px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	display: inline-block;
	/* float: right; */
	font-size: 16px;
	line-height: 40px;
	margin-top: 20px;
	margin-left: 30px;
	text-align: center;
	background: #409eff;
	    color: #FFFFFF;
}

button[disabled]{
	background: #e5e5e5 !important;
	}
#add-hos .selectOption>input{
	width: 150px;
	height: 38px;
	border-radius: 4px;
	outline: none;
	border:1px solid #e5e5e5;
	margin-right:15px;
	padding: 0 10px;

}
#add-hos .selectOption button{
	width: 80px;
	height: 38px;
	border-radius: 4px;
	line-height: 38px;
	outline: none;
	border:1px solid #e5e5e5;
	margin-right:15px;
	background:#409eff;
	color: #FFFFFF;
	vertical-align: middle;
	margin-top: -3px;
}

#add-hos .selectOption select{
	width: 140px;
	height: 38px;
	border-radius: 4rpx;
	outline: none;
	margin-right:15px;
	border:1px solid #e5e5e5;
}
#add-hos .selectOption .province,#add-hos .selectOption  .city,#add-hos .selectOption  .town{
	width: 100px;
	margin-right: 5px;
}
#add-hos .selectOption input,#add-hos .selectOption .area{
	display: inline-block;
	margin-right: 30px;
}
#add-hos .hosIntroBox span{
	display: block;
}
#add-hos .hosIntroBox textarea{
	box-sizing: border-box;
	    width: 45%;
	    min-width: 540px;
	/* width: 1010px; */
	height: 100px;
	/* overflow-y: scroll; */
	overflow:auto;
	/* overflow-x: hidden; */
	font-size: 16px;
	line-height: 30px;
	padding: 0 15px;
	background: #FFFF;
	cursor: not-allowed;
	/* resize: none; */
}

#add-hos .selectOption>span{
	line-height: 60px;
}
#add-hos .addPeople{
	width: 100%;
	/* padding: 0 50px; */
	min-width: 1200px;
}


#add-hos .tableBoxLf{
	display: inline-block;
	width: 45%;
	min-width: 540px;
	height: auto;
	float: left;
}
#add-hos .tableBoxLf table{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	word-wrap: break-word; word-break: break-all;table-layout: fixed
}
#add-hos .tableBoxLf table thead tr th,#add-hos .tableBoxLf table tbody tr td{
	height: 40px !important;
	line-height: 40px;
	width: 20% !important;
	text-align: center;
	overflow: hidden;
}
#add-hos .tableBoxLf table tbody tr{
	height: 40px !important;
}
#add-hos .tableBoxLf table tbody tr td div{
	width: 100%;
	height: 40px;
	overflow: hidden;
}
#add-hos .tableBoxLf table tbody tr td{
	border: 1px solid #e5e5e5;
	cursor: pointer;
}
/* .tableBoxLf table tbody tr td:nth-child(1),.tableBoxLf table tbody tr td:nth-child(3),.tableBoxLf table tbody tr td:nth-child(4),.tableBoxLf table tbody tr td:nth-child(5){
	cursor: pointer;
} */

#add-hos .tableBoxLf table tbody tr td input{
	width: 100%;
	padding: 0 10px;
	border: 0;
	text-align: center;
}
#add-hos .addNewRel,#add-hos .supplyNewRel{
	cursor: pointer;
	box-sizing: border-box;
	width: 100%;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	height: 40px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.supplyNewRel{
  background: #409eff  !important;
  color: #fff !important;
}
#add-hos .tableBoxRt{
	display: inline-block;
	width: 52%;
	height: 560px;
	margin-left: 3%;
	min-width: 624px;
	box-sizing: border-box;
	border: 1px solid #e5e5e5;
	float: left;
	margin-top: -185px;
}
#add-hos .tableBoxRt >div:nth-child(1){
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
#add-hos .tableBoxRt >div:nth-child(1)  h2{
	width: 100%;
	position: absolute;
	left: 0;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-bottom: 1px solid #e5e5e5;
	cursor: pointer;
}
#add-hos .lookAllTrack{
	font-size: 16px;
	cursor: pointer;
	margin-left: 15px;
	display: inline-block;
	position: absolute;
	left: 15px;
	/* z-index: 3; */
}

#add-hos .trackDetail{
	width: 100%;
	padding: 10px;
	height: 300px;
	overflow-y: scroll;
	border-bottom: 1px solid #E5E5E5;

}
#add-hos .muti::-webkit-scrollbar{
	width:0px;
	/* border-radius: 5px; */
}
#add-hos .muti::-webkit-scrollbar-track{
	background-color:#e5e5e5;
	/* border-radius: 5px; */
}
#add-hos .muti::-webkit-scrollbar-thumb{
	background-color:#e5e5e5;
	/* border-radius: 5px; */
}
#add-hos .muti::-webkit-scrollbar-thumb:hover {
	background-color:#e5e5e5;
	/* border-radius: 5px; */
}
#add-hos .muti::-webkit-scrollbar-thumb:active {
	background-color:#e5e5e5;
	/* border-radius: 5px; */
}

#add-hos .trackDetail ul{
	width: 80%;
	/* margin-left: 15px; */
	margin-top: 10px;
}
#add-hos .trackDetail ul li{
	font-size: 16px;
	line-height: 25px;
	color: #333333;
}
#add-hos .trackDetail ul li:nth-child(1) span:nth-child(1){
	color: #666666;
	display: inline-block;
	margin-right: 15px;
	font-size: 14px;
}
#add-hos .trackDetail ul li:nth-child(1) span:nth-child(2){
	color: #999999;
	display: inline-block;
	margin-right: 15px;
	font-size: 14px;
}
#add-hos .trackDetail ul li:nth-child(1) span:nth-child(3){
	color: #999999;
	display: inline-block;
	margin-right: 15px;
	font-size: 14px;
}
#add-hos .talkShow{
	width: 100%;
	padding: 10px;
	height: 100px;
	resize: none;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
	outline: none;
}
#add-hos .selectQuick{
	width: 100%;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #e5e5e5;
	min-width: 641px;
}
#add-hos .selectQuick>div{
	display: inline-block;
	font-size: 15px;
	color: #333;
}
#add-hos .selectQuick>div input{
	margin-right: 5px;

}
#add-hos .selectQuick>div label{
	margin-left: 8px;
	color: #666666;
}
#add-hos .selectQuick>div:nth-child(1){
	margin-left: 20px;
}
#add-hos .selectQuick>div:nth-child(2){
	margin-left: 25px;
}
#add-hos .sendTrack{
	cursor: pointer;
	width: 90px;
	height: 35px;
	border-radius: 2px;
	background: #ffcd00;
	color: #333333;
	line-height: 35px;
	text-align: center;
	border: 0;
	float: right;
	margin-top: 10px;
	margin-right: 15px;
}


/* 弹窗 */
#add-hos .showTips{
	width: 120px;
	height: 90px;
	padding: 15px;
	line-height: 25px;
	font-size: 16px;
	color: #333333;
	position: fixed;
	/* left: 60%;
	top: 50%;
	margin-top: -100px;
	margin-left: -150px; */
	z-index: 2;
	/* background: #fff; */
	color: #fff;
	border: 1px solid #e5e5e5;
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	font-size: 14px;
}
#add-hos .contentThis{
	line-height: 25px;
	font-size: 14px;
	padding: 0 15px;
}


#add-hos .addphoen,#add-hos .addphoeShow{
	display: none;
	position: fixed;
	width: 260px;
	height: 210px;
	border-radius: 5px;
	right: 500px;
	top: 180px;
	background: #FFFFFF;
	border: 1px solid #333;
	z-index: 3;
}
#add-hos .addphoen>div,#add-hos .addphoeShow>div{
	line-height: 40px;

}
#add-hos .addphoen>i,#add-hos .addphoeShow>i{
	margin: 10px;
	display: block;
	margin-left: 220px;
	cursor: pointer;
}
#add-hos .addphoen span,#add-hos .addphoeShow>div>span{
	display: inline-block;
	margin: 0 10px;
}
#add-hos .addphoen>div i,#add-hos .addphoeShow>div i{
	margin-left: 15px;
	cursor: pointer;
}
#add-hos .addphoen input{
	width: 150px;
	height: 35px;
	border-radius: 4px;
	border: 1px solid #e5e5e5;
	outline: 0;
	padding: 0 10px;
	font-size: 14px;
}
#add-hos .addphoen span:last-child,#add-hos .addphoeShow>span:last-child{
	display: block;
	width: 70px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	margin:10px auto;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
}
#add-hos .addphoeShow p{
	display: inline-block;
	cursor: default;
	border-bottom: 1px solid #e5e5e5;
	width: 100px;
}


#add-hos #phoneNow{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	display: none;
	/* background: rgba(0,0,0,0.2); */
	/* background: #000000; */
	/* opacity: 0.2; */
}
#add-hos #phoneNow>div:nth-child(1){
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}
#add-hos #phoneNow p{
	position: fixed;
	z-index: 10;
	width: 100%;
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	top: 35%;
	color: #fff;

}
#add-hos #phoneNow .phoneEnd{
	position: fixed;
	width: 250px;
	height: 60px;
	background: #ffffff;
	border-radius: 5px;
	color: #bd0000;
	font-size: 20px;
	z-index: 10;
	top: 42%;
	left: 50%;
	margin-left: -125px;
	text-align: center;
	cursor: pointer;
	line-height: 60px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#add-hos #phoneNow .phoneEnd img{
	width: 24px;
	height: 24px;
}
#add-hos #phoneNow .phoneEnd span{
	color: #E2403F;
	margin-left:5px;
	font-size: 22px;
	line-height: 40px;
	cursor: pointer;
	display: inline-block;
	width: 100px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 5px;
	background: #ffffff;
}

/* 动态添加科室电话 */
#add-hos .linePhoneList>div{
	display: inline-block;
	/* width: 350px; */
	margin-right: 20px;
	line-height: 60px;
	padding-right: 30px;
	border-right:1px solid #e5e5e5;
	color: #666666;
}
#add-hos .linePhoneList>div>span{
	display: inline-block;
	margin-right: 15px;
}
#add-hos .linePhoneList img{
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-right: 10px;
}
#add-hos .addNewTel{
	width: 60px;
	height: 30px !important;
	line-height: 30px !important;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	display: none;
	/* background: #EEEEEE !important; */
}
#add-hos .shoujiDiv,#add-hos .shoujiDiv1,#add-hos .shoujiDiv2{
	display: inline;
    margin-left: 8px;
}
#add-hos .shoujiDiv>div,#add-hos .shoujiDiv1>div,#add-hos .shoujiDiv2>div{
	display: inline-block;
	position: relative;
	width: 24px;
	height: 24px;
	line-height: 24px;
}
#add-hos .telCall{
	display: none;
	position: absolute;
    bottom: -18px;
    right: -30px;
    /* display: block; */
    width: 40px;
    background: #e4e1e1;
    height: 20px;
    line-height: 20px;
	border-radius: 20%;
	font-size: 12px;
    text-align: center;
    z-index: 9
}
#add-hos .shoujiDiv>div>img:hover+.telCall, #add-hos .shoujiDiv1>div>img:hover+.telCall,#add-hos .shoujiDiv2>div>img:hover+.telCall{
	display: block;
	/* background: red; */
	cursor: pointer;
}

#add-hos .shoujiDiv>div>span:hover,#add-hos .shoujiDiv1>div>span:hover,#add-hos .shoujiDiv2>div>span:hover{
	display: block;
	/* cursor: pointer; */
}
#add-hos .shoujiDiv>div:first-child,#add-hos .shoujiDiv1>div:first-child,#add-hos .shoujiDiv2>div:first-child{
	margin-right: 8px;
}
#add-hos .shoujiDiv>div>img,#add-hos .shoujiDiv1>div>img,#add-hos .shoujiDiv2>div>img{
	cursor: pointer;
}