#index .mainbox{
	width: 80%;
	min-width: 1200px;
	margin: 0 auto;
}
#index .topselect{
	width: 100%;

}
#index .selectOption{
	width: 100%;
	height: 80px;
	line-height:80px;
	font-size: 16px;
	color: #333333;
}
#index .topselect h2{
	display: inline-block;
	margin: 0;
	line-height: 80px;
	font-size: 30px;
}
/* #index #pageSelect{
	width: auto!important;
}
#index .pageWrap{
	width: auto!important;
} */
#index .sel-page{
	margin-right: 0px!important;
}
#index .addHos{
	width: 100px;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	display: inline-block;
	/* float: right; */
	font-size: 16px;
	line-height: 40px;
	margin-top: 20px;
	margin-left: 30px;
	text-align: center;
	background: #409eff;
		color: #FFFFFF;
	text-decoration: none;
}
#index .lookBefore{
	float: right;
	line-height: 80px;
}

#index .lastHis{
	float: right;
	font-size: 16px;
	cursor: pointer;
	color: #337ab7;
}

#index .selectOption>input{
	width: 150px;
	height: 38px;
	border-radius: 4px;
	outline: none;
	border:1px solid #e5e5e5;
	margin-right:15px;
	padding: 0 10px;

}
#index .selectOption button{
	width: 80px;
	height: 38px;
	border-radius: 4px;
	line-height: 38px;
	outline: none;
	border:1px solid #e5e5e5;
	margin-right:15px;
	background:#409eff;
	color: #FFFFFF;
	vertical-align: middle;
	margin-top: -3px;
}
#index .selectOption select{
	width: 140px;
	height: 38px;
	border-radius: 4rpx;
	outline: none;
	margin-right:15px;
	border:1px solid #e5e5e5;
}
#index .searchThis input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        margin-top: 7px
    }
#index .tableBox{
	width: 100%;
	height: auto;
}
#index .tableBox table,#index #leader_index .tableBox table{
	width: 100%;
	height: auto;

}
#index .tableBox table thead tr th,#index .tableBox table tbody tr td,#index #leader_index .tableBox table thead tr th,#leader_index .tableBox table tbody tr td{
	height: 40px;
	line-height: 40px;
	width: auto;
	text-align: center;
}
#index .tableBox table tbody tr td,#index #leader_index .tableBox table tbody tr td{
	padding: 0 10px;
	border: 1px solid #e5e5e5;

}
#index .tableBox table tbody tr td:last-child,#index #leader_index .tableBox table tbody tr td:last-child{
	cursor: pointer;

}
#index .tableBox table tbody tr td:nth-child(2),#index #leader_index .tableBox table tbody tr td:nth-child(2){
	cursor: pointer;
	text-align: left;
}
#index .tableBox table tbody tr td:nth-child(3),#index #leader_index .tableBox table tbody tr td:nth-child(3),#index .tableBox table tbody tr td:nth-child(5),#index #leader_index .tableBox table tbody tr td:nth-child(5){
	cursor: pointer;
}
/* #leader_index .tableBox table thead tr th,
  #leader_index .tableBox table tbody tr td {
    height: 40px;
    line-height: 40px;
    width: auto;
    text-align: center;
  } */

  #leader_index .tableBox table tbody tr td {
    padding: 0 10px;
    border: 1px solid #e5e5e5;

  }

  #leader_index .tableBox table tbody tr td:last-child {
    cursor: pointer;

  }

  #leader_index .tableBox table tbody tr td:nth-child(3) {
    cursor: pointer;
    text-align: left;
  }

  #leader_index .tableBox table tbody tr td:nth-child(5) {
    cursor: pointer;
  }
/*#index  .selectOption .province,#index .selectOption  .city,#index .selectOption  .town{
	width: 100px;
	margin-right: 5px;
}
 */

#index .a29905{
	background: rgba(229,229,229,0.5);
}
#index .a29902{
	background: rgba(229,229,229,0.2);
}


#index #phoneNow{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	display: none;
	/* background: rgba(0,0,0,0.2); */
	/* background: #000000; */
	/* opacity: 0.2; */
}
#index #phoneNow>div:nth-child(1){
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}
#index #phoneNow p{
	position: fixed;
	z-index: 10;
	width: 100%;
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	top: 35%;
	color: #fff;

}
#index #phoneNow .phoneEnd{
	position: fixed;
	width: 250px;
	height: 60px;
	background: #ffffff;
	border-radius: 5px;
	color: #bd0000;
	font-size: 20px;
	z-index: 10;
	top: 42%;
	left: 50%;
	margin-left: -125px;
	text-align: center;
	cursor: pointer;
	line-height: 60px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#index #phoneNow .phoneEnd img{
	width: 24px;
	height: 24px;
}
#index #phoneNow .phoneEnd span{
	color: #E2403F;
	margin-left:5px;
	font-size: 22px;
	line-height: 40px;
	cursor: pointer;
	display: inline-block;
	width: 100px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 5px;
	background: #ffffff;
}